package {{package}};

import {{modelPackage}}.{{modelName}};
import org.springframework.stereotype.Repository;

/**
* Desc:
* Author: <a href="ychp@terminus.io">应程鹏</a>
* Date: {{formatDate timestamp}}
*/
@Repository
public interface {{modelName}}Repository extends MybatisRepository<{{modelName}}> {

}
